body{
    position: relative;
    margin: 0;
}

header a{
    font-family: "Nabla", sans-serif;
    padding: 20px;
    font-size: 65px;
    position: absolute;
}

a{
    text-decoration: none;
}

footer{
    height: 100px;
    background-color: #b2ab02;
}